/@src
.vs
bin
obj
*.tmp
*.user
/DllExport.bat
/packages

/_InputDevices

/_SampleScenarios/AtsEx/*.dll
/_SampleScenarios/AtsEx/*.pdb
/_SampleScenarios/AtsEx/*.dll.config
/_SampleScenarios/AtsEx/*.xml
/_SampleScenarios/AtsEx/*/*.resources.dll
/_SampleScenarios/AtsEx/Resources/*/*.resx
/_SampleScenarios/AtsEx/Resources/*/*/*.resx

/_SampleScenarios/AtsEx.Samples/Maps/Basic/MapPlugins/*.dll
/_SampleScenarios/AtsEx.Samples/Maps/Basic/MapPlugins/*.pdb
/_SampleScenarios/AtsEx.Samples/Maps/Basic/MapPlugins/*.dll.config
/_SampleScenarios/AtsEx.Samples/Maps/Basic/MapPlugins/*.xml

/_SampleScenarios/AtsEx.Samples/Vehicles/Basic/Ats/*.dll
/_SampleScenarios/AtsEx.Samples/Vehicles/Basic/Ats/*.pdb
/_SampleScenarios/AtsEx.Samples/Vehicles/Basic/Ats/*.dll.config
/_SampleScenarios/AtsEx.Samples/Vehicles/Basic/Ats/*.xml
!/_SampleScenarios/AtsEx.Samples/Vehicles/Basic/Ats/*.VehiclePluginUsing.xml
/_SampleScenarios/AtsEx.Samples/Vehicles/Basic/Ats/AtsEXPlugins/*.dll
/_SampleScenarios/AtsEx.Samples/Vehicles/Basic/Ats/AtsEXPlugins/*.pdb
/_SampleScenarios/AtsEx.Samples/Vehicles/Basic/Ats/AtsEXPlugins/*.dll.config
/_SampleScenarios/AtsEx.Samples/Vehicles/Basic/Ats/AtsEXPlugins/*.xml
/_SampleScenarios/AtsEx.Samples/Vehicles/Basic/Ats/.AtsExBackup