/@src
.vs
bin
obj
/DllExport.bat
/packages
/_SampleScenarios/Automatic9045/Trains/AtsExSampleTrain/Ats/*.dll
/_SampleScenarios/Automatic9045/Trains/AtsExSampleTrain/Ats/*.pdb
/_SampleScenarios/Automatic9045/Trains/AtsExSampleTrain/Ats/AtsEXPlugins/*.dll
/_SampleScenarios/Automatic9045/Trains/AtsExSampleTrain/Ats/AtsEXPlugins/*.pdb