/@src
.vs
bin
obj
/DllExport.bat
/packages

/_SampleScenarios/Automatic9045/AtsEx/*.dll
/_SampleScenarios/Automatic9045/AtsEx/*.pdb
/_SampleScenarios/Automatic9045/AtsEx/*.dll.config
/_SampleScenarios/Automatic9045/AtsEx/*.xml
/_SampleScenarios/Automatic9045/AtsEx/*/*.resources.dll
/_SampleScenarios/Automatic9045/AtsEx/Resources/*/*.resx
/_SampleScenarios/Automatic9045/AtsEx/Resources/*/*/*.resx

/_SampleScenarios/Automatic9045/Maps/AtsExSampleMap/MapPlugins/*.dll
/_SampleScenarios/Automatic9045/Maps/AtsExSampleMap/MapPlugins/*.pdb
/_SampleScenarios/Automatic9045/Maps/AtsExSampleMap/MapPlugins/*.dll.config
/_SampleScenarios/Automatic9045/Maps/AtsExSampleMap/MapPlugins/*.xml

/_SampleScenarios/Automatic9045/Vehicles/AtsExSampleVehicle/Ats/*.dll
/_SampleScenarios/Automatic9045/Vehicles/AtsExSampleVehicle/Ats/*.pdb
/_SampleScenarios/Automatic9045/Vehicles/AtsExSampleVehicle/Ats/*.dll.config
/_SampleScenarios/Automatic9045/Vehicles/AtsExSampleVehicle/Ats/*.xml
!/_SampleScenarios/Automatic9045/Vehicles/AtsExSampleVehicle/Ats/*.VehiclePluginUsing.xml
/_SampleScenarios/Automatic9045/Vehicles/AtsExSampleVehicle/Ats/AtsEXPlugins/*.dll
/_SampleScenarios/Automatic9045/Vehicles/AtsExSampleVehicle/Ats/AtsEXPlugins/*.pdb
/_SampleScenarios/Automatic9045/Vehicles/AtsExSampleVehicle/Ats/AtsEXPlugins/*.dll.config
/_SampleScenarios/Automatic9045/Vehicles/AtsExSampleVehicle/Ats/AtsEXPlugins/*.xml
/_SampleScenarios/Automatic9045/Vehicles/AtsExSampleVehicle/Ats/.AtsExBackup